BasedOnStyle: GNU
Language: ObjC
ColumnLimit: 80
IndentWidth: 2
ContinuationIndentWidth: 4
ObjCBlockIndentWidth: 2
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true
PointerAlignment: Right
SortIncludes: Never
BreakBeforeBraces: GNU
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
KeepEmptyLinesAtTheStartOfBlocks: false
UseTab: Never
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
SeparateDefinitionBlocks: Always
ReflowComments: true
BreakStringLiterals: false
